/*------------------------------- */
/*      Settings                 */
/*------------------------------- */
/* AC3D WEBSITE STYLE COLORINGS */
:root {
  --background_dark: #171717;
  --background_light: #313131;

  --color_normal_font: #ffffff;
  --color_section_title: #759697;
  --color_group_title: #759697;
}


body {
  margin: 0;
  background-color:var(--background_light);
}

/*------------------------------- */
/*      Layout                   */
/*------------------------------- */
.dui-layout {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: auto;
}

button, pre {
  background-color: var(--background_dark);
  border-style: solid;
  border-color: var(--color_section_title);
  color: var(--color_normal_font);
}

p, label {
  color:var(--color_normal_font);
  background-color: inherit;
  border: none;
}

td {
  background-color: var(--background_light);
  min-width: 5em;

}

#react-entry-point {
  background-color: var(--background_light);
}
* {
  border-color :var(--color_section_title);
  font-family: unset !important;
  font-size: unset !important;
}




/*make sure selected cells are still readable*/
.focused{
  background-color: white !important;
  color:var(--background_dark) !important;
}


/*make sure each dropdown is displayed at the same height*/
#table_of_tables_1, #table_of_tables_2, #table_of_tables_3{
  vertical-align: top;
}

/* Textarea */
#input_textfield_div{
  margin: 40px 25vw 10px;
  color:var(--color_normal_font);
  width: 50em;
  font-size: 150%;
}

#output_textfield{
  margin: 4vh 10vw;
  padding: 5px;
  border-style: dashed;
  border-color: var(--color_normal_font);
  border-width: thin;
  text-align: center;
}

/* Submit Button */
#submit{
  position: sticky;
  bottom: 0;
  left: 2.5vw;
}

/* Image */
#Aconity_Icon{
  position: absolute;
  top: 0;
  left: 0;
}

/*Headers*/
#base_module_header, #compulsory_module_header, #optional_module_header{
  font-size: x-large !important;
  width: 18em;
  margin-left: 5em;
}


/*------------------------------- */
/*      Dropdown                   */
/*------------------------------- */

.ReactVirtualized__Grid__innerScrollContainer{
  /*min-width: 20em !important;
  max-width: 80em !important;*/
  /*overflow-x: auto !important;
  white-space: nowrap !important;
  /*overflow: hidden !important;*/
  width : 34em;
}

.Select-menu-outer{
  width : 34em;
  /*overflow-x: auto !important;
  white-space: nowrap !important;
  /*min-width: 20em !important;
  max-width: 80em !important;
  /*overflow: hidden !important;*/
}

#table_of_tables_3{
  padding-right: 15em;
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
  color: var(--color_normal_font) !important;
}

.Select-multi-value-wrapper{
  background-color: var(--background_dark);
  color: var(--color_normal_font);
}
/*.Select-input{
  background-color: var(--background_dark);
  color: var(--color_normal_font);
}*/
.Select, .Select div, .Select input, .Select-value-label{
  background-color: var(--background_dark) !important;
  color: var(--color_normal_font) !important;
}

/*------------------------------- */
/*      Data Table                 */
/*------------------------------- */

/*.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th{
  color:var(--color_group_title);
  background-color: var(--background_dark) !important;
  border-color: var(--color_section_title) !important;
}
.dash-table-container .dash-spreadsheet-container th > div:not(.cell-markdown){
  background-color: var(--background_dark);
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td {
  background-color: var(--background_light);
  color: var(--color_normal_font);
}

.show-hide-menu-item{
  background-color: var(--background_light);
  color: var(--color_normal_font);
}

.cell--selected{
  background-color: white !important;
  color: black !important;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner input:not([type=radio]):not([type=checkbox]){
  text-align: left !important;
  text-decoration: none;
}*/




/*#upload-data*/
#upload-data{
  background-color: var(--background_dark);
  color: var(--color_normal_font);
  border-color: var(--color_section_title);
  cursor: pointer;
}

/*tabs overview*/
/*@media screen and (min-width: 800px) {

  #LogViewer, #Advanced_Filter{
    border-top: none !important;
    color: var(--color_normal_font) !important;
    background-color: var(--background_dark) !important;
  }
  .tab--selected{
    border-top: none !important;
    color: var(--color_normal_font) !important;
    background-color: var(--background_light) !important;
  }
  /*.tab--disabled.jsx-2137964197{
    border-top: none !important;
    color: var(--color_group_title) !important;
    background-color: var(--background_dark) !important;
  }*/
  /* set color for text in tabs*/
  /*#LogViewer span, #Advanced_Filter span{
    border-top: none !important;
    color: inherit !important;
    background-color: inherit !important;
  }

}
#tabs {

  /*margin-top: 50px;*/
/*  margin-left: 25%;
  margin-bottom: 100px;
  

}

/*Layout of Tab-contents*/
/*#tab_content_1 {
  padding: 0 0 2em;
  /*border-color: var(--color_section_title);
  border-style: solid ;*/
}

/*#tab_content_2 {
  padding: 2em 10em 4em 10em;
  margin: 0 5em 50px 5em;
  border-color: var(--color_section_title);
  border-style: solid ;*/
}

/*#tab_content_3 {
  padding: 2em 1em 4em 1em;
  margin: 0 0 50px 0;
  /*border-color: var(--color_section_title);
  border-style: solid ;*/
}




/*margin-settings*/
#margin-up-value, #margin-down-value{
  background-color: black;
}

/*modal window*/

#download_button{
  background-color: midnightblue;
  color: aliceblue;
}